.floorplan {
    width: 100%;
}

.draggable {
    position: absolute;
}

.device .bi {
    color: white;
    mix-blend-mode: difference;
}

.removed {
    visibility: hidden !important;
    user-select: none !important;
    display: none !important;
}
